html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time,
mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 14px;
    font-family: "Microsoft YaHei","å¾®è½¯é›…é»‘","Helvetica Neue",Helvetica,"Hiragino Sans GB",Arial,sans-serif;
}
body,html{
    width: 100%;
    height:100%;
}
input:hover{
	opacity:0.9;
}
li{
    list-style: none;
}
a,input{outline:none;}
a{
    text-decoration: none;
    color:#333333;
}
a:hover{
    text-decoration: none;
}
.mobile_wrap{
    height:100%;
    width: 100%;  
}
.mobile_index{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.mobile_index>header{
    width: 100%;
    height: 40px;
    line-height: 55px;
    padding: 0.5em 0;
    text-align: center;
}
.mobile_index>header>img{
    max-width: 100%;
}
.mobile_nav{
    width: 100%;
}
.mobile_nav img{
    max-width: 100%;
    height: 215px;
}
.mobile_news{
    width: 100%;
}
.mobile_tag{
    font-size: 18px;
    color:#333;
    font-weight: 400;
    padding: 0.5em 2%;
    border-bottom: 1px solid #EEEEEE;
}
.mobile_tag:before{
    content: "";
    background-color: #BE7CFF;
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-right: 10px;
}
.mobile_content{
    position: relative;
    overflow: hidden;
}
.mobile_box{
    position: relative;
    margin: 1em 2%;
    padding:2% 0;
    min-height: 70px;
    overflow: hidden;
    border-bottom: 1px solid #EEEEEE;
}
.mobile_img{
    height:70px;
    width:87px;
    float: left;
    position: absolute;
    display: inline-block;
}
.mobile_title{
    font-size: 14px;
}
.mobile_nw{
    float: left;
    margin-left: 100px;
}
.mobile_nw span{
    display: block;
}
.mobile_nw span:nth-child(1){
    height: 42px;
}
.mobile_nw span:nth-child(2){
    color: #29A4FF;
    margin-top: 10px;
}
.mobile_more{
    font-size: 16px;
    color:#ccc;
    text-align: center;
    width: 100%;
    display: block;
}
.share-menu{
    width: 100%;
    margin:10px 0;
    padding: 10px 0;
    background-color: #F8F8F8;
}
.share-item{
    width: 31%;
    background:#fff;
    position: relative;
    display: inline-block;
}
.share-item img{
    width: 45%;
    margin:30px 30%;
}
.site-footer{
    width: 100%;
    background:#fff;
    padding:20px 0;
}
.site-footer a{
    text-align: center;
    display: inline-block;
    background:#fff;
    margin-bottom:15px;
}
.site-footer a:nth-child(1),
.site-footer a:nth-child(2){
    width: 28%;
}
.site-footer a:nth-child(3){
    width: 40%;
}
.phoneImg{
    width: 12px;
    height: auto;
    vertical-align: middle;
}
.site-footer p{
  text-align: center;   
}
/**/
.new_header{
    width: 100%;
    height: 35px;
    padding-top:15px; 
    overflow: hidden;
    border-bottom: 1px solid #E7E7E7;
}
.new_header p{
    text-align: center;
    font-weight: 400;
    width: 100%;
    font-size: 18px;
    vertical-align: middle;
    display: inline-block;
}
.new_header a{
    height: 20px;
    width: 20px;
    position: absolute;
    margin-top: 3px;
    margin-left: 20px;
    vertical-align: middle;
    background: url(../img/black.png);
    background-repeat:no-repeat;
    display: inline-block;
    background-size: cover;
}

@media (max-width: 375px){
.swiper-container {
    width: 100%;
    height:400px;
}  
.swiper-slide img{
    width: 100%;
    max-width: 100%;
}
}
@media (max-width: 640px){
.swiper-container {
    width: 100%;
    height:400px;
}  
.swiper-slide img{
    width: 100%;
    max-width: 100%;
}
}

@media (max-width: 1024px){
.swiper-container {
    width: 100%;
    height:400px;
}  
.swiper-slide img{
    width: 100%;
    max-width: 100%;
}
}
