/*header*/
header{
  height: 70px;
    width: 100%;
    background: #393e43;
    line-height: 60px;
    z-index: 9999;
    overflow:hidden;
    transition: background 0.8s;
    -moz-transition: background 0.8s;
    -webkit-transition: background 0.8s;
    -o-transition: background 0.8s;
}
.navbox{
    width: 1200px;
    height:70px;
    margin:0 auto;
}
.indexlogo{
    height:27px;
    vertical-align: top;
    margin-top:23px;
}
.headnav{
    width:1000px;
    float: right;
    text-align: right;
    color:#000;
}
.headnav li{
    display: inline-block;
    line-height:70px;
    float:right;
    margin-left:40px;
}
.headnav li a{
    display: block;
    line-height:70px;
    color:#fff;
    font-family:"微软雅黑";
}
.headnav li a.registerlink{
    padding-left:10px;
}
.headnav li span{
    font-size: 10px;
    color:#fff;
}
.content,.content-nav-box{
    width: 100%;
    background: #fff;
    z-index: 999;
}
.navbg{
    width: 100%;
    height:78px;
    background: #fff;
}